<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="loginftSuite">
 <test  name="loginftTest">
    <parameter name="username" value="aaa"/>
	<parameter name="password" value="123"/>
      <classes>
      <class name="testngLoginFunds.Loginfundstransfer"/>
    </classes>
  </test> <!-- loginftTest -->


  <test thread-count="5" name="parabankTest">
    <classes>
     <class name="parabankTestNG.OpenWebpage"/>
      <class name="parabankTestNG.RegTestNg"/>
   	  <class name="parabankTestNG.login"/>
      <class name="parabankTestNG.DataProviderExcel"/>
      <class name="parabankTestNG.FundsTransfer"/>
    </classes>
  </test> <!-- parabankTest -->
</suite> <!-- paraSuite -->
